.container {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  padding: 2cm 3cm 0 3cm;
}

.container input[type="radio"] {
  display: none;
}

.container label {
  font-size: 17px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  height: 1.2cm;
  width: 5.5cm;
  background: #dbdbdb;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .tab {
  width: 100%;
  height: 6cm;
  background: #fff;
  order: 1;
  display: none;
  padding: 0.5cm 0 0 2cm;
}

.container .tab h2 {
  font-size: 1.8em;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.container input[type="radio"]:checked + label + .tab {
  display: block;
}

.container input[type="radio"]:checked + label {
  background: #fff;
}

 .tab input{
  width: 30%;
  height: 0.7cm;
  padding: 6px 12px;
  font-size: 14px;
  color: #555;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-left:6cm;
  margin-top: 0.4cm;
}
.tab input:focus{
  outline: none !important;
  box-shadow: 0 0 5px #719ECE;
}

.tab button{
  font-size: 16px;
  text-align: center;
  height: 40px;
  border: 1px solid #2e6da4;
  padding: 6px 15px;
  border-radius: 4px;
  color: #fff;
  background-color: #337ab7;
  margin-left: 20px;
}
