  <div class="container">

    <input type="radio" id="tabFirst" name="container" checked="checked" />
    <label for="tabFirst">Search by Pincode</label>

      <div class="tab">
        <h2>Search Post Office details by Pincode:</h2>
        <div class="form-group">
          <div class="col-sm-8">
            <form class="form-horizontal" [formGroup]="searchFormByPincode">
                <input class="form-control" formControlName="pincode" id="pincode" type="text" placeholder="Enter 6 digit pincode ">
                <!-- <button (click)="SubmitPincode()" routerLink="/search-by-pincode" [disabled]="searchFormByPincode.get('pincode')?.invalid">Submit</button> -->
                <button mat-raised-button color="primary" (click)="SubmitPincode()" routerLink="/search-by-pincode" [disabled]="searchFormByPincode.get('pincode')?.invalid">Submit</button>
          </form>
          </div>
        </div>
      </div>

    <input type="radio" id="tabSecond" name="container" />
    <label for="tabSecond">Search by Branch Name</label>

    <div class="tab">
      <h2>Search Post Office details by Branch Name:</h2>
      <div class="form-group">
        <div class="col-sm-8">
          <form class="form-horizontal" [formGroup]="searchFormByBranch">
            <input class="form-control" formControlName="branch" id="branch" type="text" placeholder="Enter branch name ">
            <!-- <button (click)="SubmitBranch()" routerLink="/search-by-branch"  [disabled]="searchFormByBranch.get('branch')?.invalid">Submit</button> -->
            <button class="btn btn-primary" (click)="SubmitBranch()" routerLink="/search-by-branch"  [disabled]="searchFormByBranch.get('branch')?.invalid">Submit</button>
          </form>
        </div>
      </div>
    </div>
</div>





