  <div class="container">

    <input type="radio" id="tabFirst" name="container" checked="checked" />
    <label for="tabFirst">Search by Pincode</label>

      <div class="tab">
        <h2>Search Post Office details by Pincode:</h2>
        <div class="form-group" >
          <div class="col-sm-8">
            <form class="form-horizontal" [formGroup]="searchFormByPincode">
            <!-- <input class="form-control" formControlName="pincode" id="pincode" type="text" placeholder="Enter 6 digit pincode " (blur)="logValidationErrors()">
            <span class="help-block" *ngIf="formErrors.pincode">
              {{formErrors.pincode}}
            </span> -->
            <input class="form-control" formControlName="pincode" id="pincode" type="text" placeholder="Enter 6 digit pincode ">
            <button class="btn btn-primary" (click)="SubmitPincode()" routerLink="/search-by-pincode" type="button">Submit</button>
          </form>
          </div>
        </div>
      </div>

    <input type="radio" id="tabSecond" name="container" />
    <label for="tabSecond">Search by Branch Name</label>

    <div class="tab">
      <h2>Search Post Office details by Branch Name:</h2>
      <!-- <div class="form-group" [ngClass]="{'has-error': formErrors.branch}"> -->
        <div class="col-sm-8">
          <form class="form-horizontal" [formGroup]="searchFormByBranch">
          <!-- <input id="branch" type="text" placeholder="Enter branch name " class="form-control" formControlName="branch" (blur)="logValidationErrors()">
          <span class="help-block" *ngIf="formErrors.branch">
            {{formErrors.branch}}
          </span> -->
          <input class="form-control" formControlName="branch" id="branch" type="text" placeholder="Enter branch name ">
          <button class="btn btn-primary" (click)="SubmitBranch()" routerLink="/search-by-branch" type="button">Submit</button>
        </form>
        </div>
      <!-- </div> -->
    </div>

  </div>




