<div class="container">
  <div>
    <button type="button" class="closebtn" title="Close" routerLink="/home" >X</button>
  </div>
  <div *ngIf="data">
  <table>
    <thead>
    <tr><th colspan="2">{{data['0'].PostOffice[itemid].Name}}</th></tr>
  </thead>
  <tbody>
    <tr>
      <td>Pincode:</td>
      <td>{{data['0'].PostOffice[itemid].Pincode}}</td>
    </tr>
    <tr>
      <td>Delivery Status: </td>
      <td>{{data['0'].PostOffice[itemid].DeliveryStatus}}</td>
    </tr>
    <tr>
      <td>Division:</td>
      <td>{{data['0'].PostOffice[itemid].Division}}</td>
    </tr>
    <tr>
      <td>District:</td>
      <td>{{data['0'].PostOffice[itemid].District}}</td>
    </tr>
    <tr>
      <td>Region:</td>
      <td>{{data['0'].PostOffice[itemid].Region}}</td>
    </tr>
    <tr>
      <td>Circle:</td>
      <td>{{data['0'].PostOffice[itemid].Circle}}</td>
    </tr>
    <tr>
      <td>State:</td>
      <td>{{data['0'].PostOffice[itemid].State}}</td>
    </tr>
    <tr>
      <td>Country:</td>
      <td>{{data['0'].PostOffice[itemid].Country}}</td>
    </tr>

  </tbody>

  </table>

</div>
</div>
